<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permiso de internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permitir conexiones HTTP no seguras solo en desarrollo -->
    <application android:usesCleartextTraffic="true" />
</manifest>
